.header {
    display: flex;
    gap: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;
    align-items: center;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 1;
}