.playlist-b {
    display: flex;
    inline-size: 17.5rem;
    border-radius: .5rem;
    overflow: hidden;
    background: rgba(255,255,255, 10%);
    transition: .3s;
}

.playlist-b:hover, .playlist-b:focus-within {
    background: rgba(255,255,255, 20%);
}

.playlist-b-details {
    display: flex;
    padding: 1rem;
    gap: .5rem;
    align-items: center;
}

.playlist-b-cover img {
    vertical-align: middle;
    inline-size: 4.75rem;
    block-size: 4.75rem;
}

.playlist-b-tittle {
    font: var(--baseFontBold);
    color: var(--white);
    margin: 0;
}

.playlist-b:hover .playlist-b-control,
.playlist-b:focus-within .playlist-b-control{
    opacity: 1;
}


.playlist-b-control {
    opacity: 0;
    transition: .3s;
}