.playlist-a {
    border-radius: .25rem;
    inline-size: 13em;
    padding: 1rem;
    background: var(--gray40);
    box-sizing: border-box;
    transition: .3s background;
}

.playlist-a:hover, .playlist-a:focus-within{
    background: var(--gray30);
    cursor: pointer;
}

.playlist-a:hover .playlist-a-cover button, 
.playlist-a:focus-within .playlist-a-cover button{
     opacity: 1;
     transform: translateY(0);
}

.playlist-a-cover img{
    vertical-align: middle;
    inline-size: 100%;
    block-size: auto;
}

.playlist-a-cover {
    position: relative;
    border-radius: .75rem;
    overflow: hidden;
    margin-block-end: 1rem;
}

.playlist-a button {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    opacity: 0;
    transform: translateY(.5rem);
    will-change: opacity, transform;
    transition: .3s opacity, .3s transform;
}

.playlist-a-tittle {
    font: var(--baseFontBold);
    color: var(--white);
    margin: 0;
}

.playlist-a-description {
    font: var(--baseFont);
    color: var(--gray10);
    margin: 0;
}